services:
  db:
    image: postgres:18
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: serendipity
      POSTGRES_PASSWORD: password
      POSTGRES_DB: serendipity
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
