{{define "player"}}
<section>
	<h2>Now playing</h2>
	<iframe width="560"
		height="315"
		src="https://www.youtube.com/embed/87NaS8T-wJI?si=wxiB8gKnKEKdY7g4"
		title="YouTube video player"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		referrerpolicy="strict-origin-when-cross-origin"
		allowfullscreen></iframe>

	<div id="controls">
		<button>Next</button>
		<button>Like</button>
		<button>Share</button>
	</div>
</section>
{{end}}
